body{
    background-color: #131720;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container-form{
    background-color: white;
    border-radius: 18px;
    padding: 35px;
    width: 30%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;


}
.img_logo{
    width: 200px;
    background-position: center;
    background-size: cover;
    height: 180px;
}
.form{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.input{
    padding: 10px;
    outline: none;
    border:2px solid #131720;
    border-radius: 12px;
    margin-bottom: 15px;
    font-size: 17px;
    text-align: center;
}
span{
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: 900;
    text-transform: uppercase;
    color:  black ;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
h1{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: 900;
    text-transform: uppercase;
    color:  black ;
    letter-spacing: 1px;
    margin-top: 15px;
}
.btn{
    padding: 12px 10px;
    color: white;
    background-color:  #00ff00 ;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
.disabled{
    padding: 12px 10px;
    color: white;
    background-color:  #00ff00 ;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    opacity: 0.3;
}
.info{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 40px;
    height: 38px;
}
.btn-info{
    padding: 4px;
    width: 100%;
    height: 100%;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}
.btn-info img{
    width: 100%;
    height: 100%;
}

dialog{
    left: auto;
    right: auto;
    background-color: white;
    border-radius: 18px;
    padding: 35px;
    width: 30%;
    height: 60vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
dialog .textModal{
    margin-bottom: 25px;
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
dialog p{
    margin-bottom: 6px;
    font-size: 17px;
    font-weight: bold;
}
dialog .btn-voltar{
    position: absolute;
    right: 40px;
    bottom: 25px;
}
dialog .btn-voltar button{
    padding: 8px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: red;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/*  responsividade do modal */


@media (max-width: 1190px){
    dialog{
        width: 50%;
    }
}
@media (max-width: 1000px){
    dialog{
        width: 50%;
    }
}
@media (max-width: 720px){
    dialog{
        width: 60%;
    }
}
@media (max-width: 586px){
    dialog{
        width: 70%;
    }
}
@media (max-width: 503px){
    dialog{
        width: 90%;
    }
}
@media (max-width: 393px){
    dialog{
        width: 100%;
        height: 90vh;
    }
}
/*  responsividade do conainer-form  */
@media (max-width: 1190px){
    .container-form{
        width: 50%;
    }
}
@media (max-width: 1000px){
    .container-form{
        width: 50%;
    }
}
@media (max-width: 720px){
    .container-form{
        width: 60%;
    }
}
@media (max-width: 586px){
    .container-form{
        width: 70%;
    }
}
@media (max-width: 503px){
    .container-form{
        width: 90%;
    }
}
@media (max-width: 393px){
    .container-form{
        width: 100%;
        height: 90vh;
    }
}

